.landing{
    position: relative;
}
///////////////////////////Top bar
.top-bar{   
    height: 45px;
    background-color: rgb(34, 32, 32);
    display: flex;
    font-family: PopLight;
    font-size: 12px;
    .wrapper{
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1170px;
        
    }
    .bar-info{
        display: flex;
        p{
            display: flex;
        }
        p:nth-child(1){
            padding-right: 12px;
            cursor: pointer;
        }
        p:nth-child(2){
            padding: 0 12px;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        p:nth-child(3){
            padding-left: 12px;
        }
    }
    .bar-login{
        display: flex;
        p{
            display: flex;
            margin: 0 10px;
            @include Transition;
            cursor: pointer;
            svg path{
                @include Transition;
            }
        }
        p:nth-child(1):hover{
            color: $hoverColor; 
        }
        p:nth-child(1):hover svg path{
            fill: $hoverColor;       
        }   
        p:nth-child(2){
            width: 1px;
            background-color: #fff;
            height: 19px;
            margin: 0 12px;

        }
    }
}
/////////////////////////////

/////////////////////////////Navigation

nav{
    font-size: 14px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    .nav-wrapper{
        .logo-burger{
            display: flex;
            svg{
                margin: 5px 0;
            }
        }
    @include maxWidth;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .menu{
        display: flex;
        align-items: center;
        li{
            margin: 0 15px;
            font-weight: bold;
            a{
                @include Transition;
            }
            a:hover{
                color: $hoverColor; 
            }
/////////Pop-up ul
.pop-up-ul{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 14px;
    background-color: transparent;
    display: none;
    padding-top: 22px;
        
        .col-wrapper{
            @include maxWidth;
            display: flex;
            
            .pop-up-col{
                flex: 0,1,20%;
                ul li{
                    padding-right: 25px;
                }
            }
        }
    .pop-up-wrapper{
    border-top: 1px solid $hoverColor;
    border-bottom: 1px solid $hoverColor;
    background-color: #fff;
    ul{
        @include maxWidth; 
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        li{
            margin: 25px 0;
            font-weight: normal;
            a{
                @include Transition;
            }
            a:hover{
                color: $hoverColor; 
            }
        }
        li:first-of-type{
            margin: 0 0 15px 0;
        }
    }
    }
    
}
//////////////////             
        }      
        li .sales-btn{
            color: red;
        }
        li .sales-btn:hover{
            color: rgb(250, 115, 115);
        }
        li:hover .pop-up-ul{
            display: block;
        }
    }
    .busket{
        display: flex;
        li{
            margin: 0 15px;
            font-weight: bold;
            a{
                @include Transition;
                span{
                    background-color: orange;
                    padding: 3px 10px;
                    border-radius: 50px;
                    color: #fff !important;
                }
            }
            a:hover{
                color: rgb(160, 160, 160); 
            }
        }
        li:last-of-type{
            margin: 0 0 0 15px;
        }
    }
}
/////////////////////////////


/////////////////////////////Landing Carousel
.carousel{
    height: 400px;
    width: 100%;
    position: relative;
}
.landing-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    .landing-title{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #0009;
        color: #fff;
        h1{
            text-align: center;
            margin-top: 230px;
            font-size: calc(9px + 3vmin);
        }
    }
}
.landing-buttons{
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 1;
    .landing-btn{
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 25px;
        margin: 15px;
        cursor: pointer;
    }
}
.landing-slide1{
    background-image: url(images/cloth4.jpg);
}
.landing-slide2{
    background-image: url(images/cloth2.jpg);
}
.landing-slide3{
    background-image: url(images/cloth3.jpg);
}
.landing-slide4{
    background-image: url(images/cloth1.jpg);
}
.active{
    opacity: 1;
}
.active-btn{
    background-color: $hoverColor !important;
}
.mobile-height{
    margin-bottom: 330px !important;
}
.mobile-display{
    display: block !important;
}
/////////////////////////////////////////////