.underlanding{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include maxWidth;
}
.banner{
    height: 560px;
    width: 49%;
    margin: 70px 0;
    h1{
        font-size: calc(12px + 2vmin)
    }
    a{
        background-color: #fff;
        padding: 10px 50px;
        margin-top: 30px;
        font-weight: bold;
        @include Transition;
    }
    a:hover{
        background-color: rgb(39, 39, 39);
        color: #fff;
    }
}
.banner1{
    background-image: url(images/cloth5.jpg);
    margin-right: auto;
}
.banner2{
    background-image: url(images/cloth6.jpg);
    background-color: lightgreen;
}
.banner-text-wrapper{
    width: 100%;
    height: 100%;
    background-color: #0009;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}