@font-face {
  font-family: PopLight;
  src: url("fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("fonts/Poppins-Medium.ttf");
}

.landing {
  position: relative;
}

.top-bar {
  height: 45px;
  background-color: #222020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: PopLight;
  font-size: 12px;
}

.top-bar .wrapper {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
}

.top-bar .bar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .bar-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .bar-info p:nth-child(1) {
  padding-right: 12px;
  cursor: pointer;
}

.top-bar .bar-info p:nth-child(2) {
  padding: 0 12px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.top-bar .bar-info p:nth-child(3) {
  padding-left: 12px;
}

.top-bar .bar-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .bar-login p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.top-bar .bar-login p svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-bar .bar-login p:nth-child(1):hover {
  color: #a0a0a0;
}

.top-bar .bar-login p:nth-child(1):hover svg path {
  fill: #a0a0a0;
}

.top-bar .bar-login p:nth-child(2) {
  width: 1px;
  background-color: #fff;
  height: 19px;
  margin: 0 12px;
}

nav {
  font-size: 14px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

nav .nav-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-wrapper .logo-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-wrapper .logo-burger svg {
  margin: 5px 0;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu li {
  margin: 0 15px;
  font-weight: bold;
}

nav .menu li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .menu li a:hover {
  color: #a0a0a0;
}

nav .menu li .pop-up-ul {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 14px;
  background-color: transparent;
  display: none;
  padding-top: 22px;
}

nav .menu li .pop-up-ul .col-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu li .pop-up-ul .col-wrapper .pop-up-col {
  -webkit-box-flex: 0,1,20%;
      -ms-flex: 0,1,20%;
          flex: 0,1,20%;
}

nav .menu li .pop-up-ul .col-wrapper .pop-up-col ul li {
  padding-right: 25px;
}

nav .menu li .pop-up-ul .pop-up-wrapper {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #fff;
}

nav .menu li .pop-up-ul .pop-up-wrapper ul {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

nav .menu li .pop-up-ul .pop-up-wrapper ul li {
  margin: 25px 0;
  font-weight: normal;
}

nav .menu li .pop-up-ul .pop-up-wrapper ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .menu li .pop-up-ul .pop-up-wrapper ul li a:hover {
  color: #a0a0a0;
}

nav .menu li .pop-up-ul .pop-up-wrapper ul li:first-of-type {
  margin: 0 0 15px 0;
}

nav .menu li .sales-btn {
  color: red;
}

nav .menu li .sales-btn:hover {
  color: #fa7373;
}

nav .menu li:hover .pop-up-ul {
  display: block;
}

nav .busket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .busket li {
  margin: 0 15px;
  font-weight: bold;
}

nav .busket li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .busket li a span {
  background-color: orange;
  padding: 3px 10px;
  border-radius: 50px;
  color: #fff !important;
}

nav .busket li a:hover {
  color: #a0a0a0;
}

nav .busket li:last-of-type {
  margin: 0 0 0 15px;
}

.carousel {
  height: 400px;
  width: 100%;
  position: relative;
}

.landing-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.landing-slide .landing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0009;
  color: #fff;
}

.landing-slide .landing-title h1 {
  text-align: center;
  margin-top: 230px;
  font-size: calc(9px + 3vmin);
}

.landing-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  z-index: 1;
}

.landing-buttons .landing-btn {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 25px;
  margin: 15px;
  cursor: pointer;
}

.landing-slide1 {
  background-image: url(images/cloth4.jpg);
}

.landing-slide2 {
  background-image: url(images/cloth2.jpg);
}

.landing-slide3 {
  background-image: url(images/cloth3.jpg);
}

.landing-slide4 {
  background-image: url(images/cloth1.jpg);
}

.active {
  opacity: 1;
}

.active-btn {
  background-color: #a0a0a0 !important;
}

.mobile-height {
  margin-bottom: 330px !important;
}

.mobile-display {
  display: block !important;
}

.underlanding {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.banner {
  height: 560px;
  width: 49%;
  margin: 70px 0;
}

.banner h1 {
  font-size: calc(12px + 2vmin);
}

.banner a {
  background-color: #fff;
  padding: 10px 50px;
  margin-top: 30px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner a:hover {
  background-color: #272727;
  color: #fff;
}

.banner1 {
  background-image: url(images/cloth5.jpg);
  margin-right: auto;
}

.banner2 {
  background-image: url(images/cloth6.jpg);
  background-color: lightgreen;
}

.banner-text-wrapper {
  width: 100%;
  height: 100%;
  background-color: #0009;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.categories {
  max-width: 1170px;
  margin: 0 auto;
}

.categories h2 {
  margin: 20px 0;
}

.categories-carousel {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.categories-carousel::-webkit-scrollbar {
  display: none;
}

.categories-carousel-elem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  width: 293px;
}

.categories-carousel-elem a {
  display: block;
  margin: 0 12px;
  font-size: 0;
}

.categories-carousel-elem a img {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories-carousel-elem a h1 {
  background-color: #fff;
  font-size: 20px;
  padding: 7px 0;
}

.categories-carousel-elem:first-of-type a {
  margin-left: 0;
}

.categories-carousel-elem:last-of-type a {
  margin-right: 0;
}

.categories-carousel-elem a:hover img {
  opacity: 0.7;
}

.blog {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
}

.blog h2 {
  margin: 20px 0;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-element {
  width: 293px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.blog-element a {
  display: block;
  margin: 0 12px;
  height: 100%;
}

.blog-element a img {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 173px;
}

.blog-element a:hover img {
  opacity: 0.7;
}

.blog-element:last-of-type a {
  margin-right: 0;
}

.blog-element:first-of-type a {
  margin-left: 0;
}

.categories {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
}

.categories h2 {
  margin: 20px 0;
}

.categories-carousel {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.categories-carousel::-webkit-scrollbar {
  display: none;
}

.onGoing-carousel-elem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 293px;
}

.onGoing-carousel-elem a {
  display: block;
  margin: 0 12px;
}

.onGoing-carousel-elem a .img-wrapper {
  position: relative;
}

.onGoing-carousel-elem a .img-wrapper .pop-up {
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.onGoing-carousel-elem a .img-wrapper .pop-up .pop-up-text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

.onGoing-carousel-elem a .img-wrapper .pop-up .pop-up-text small {
  padding: 15px;
  font-weight: bold;
}

.onGoing-carousel-elem a .img-wrapper .pop-up .arrow {
  position: static;
  margin-left: -6px;
  opacity: 1;
  border-radius: 0;
  background-color: unset;
  padding: 0;
  fill: #fff;
}

.onGoing-carousel-elem a .img-wrapper .pop-up-eye {
  top: 18px;
  opacity: 0;
}

.onGoing-carousel-elem a .img-wrapper .pop-up-star {
  top: 58px;
  opacity: 0;
}

.onGoing-carousel-elem a .img-wrapper svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  right: 10px;
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
}

.onGoing-carousel-elem a .img-wrapper .star {
  top: 55px;
}

.onGoing-carousel-elem a .img-wrapper .eye {
  top: 15px;
}

.onGoing-carousel-elem a .img-wrapper .sizes {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.onGoing-carousel-elem a .img-wrapper .sizes div {
  margin: 10px;
}

.onGoing-carousel-elem a img {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
}

.onGoing-carousel-elem .onGoing-text {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.onGoing-carousel-elem .onGoing-text .desc {
  display: block;
  width: 70%;
}

.onGoing-carousel-elem .onGoing-text .desc small {
  display: block;
}

.onGoing-carousel-elem .onGoing-text .price {
  text-align: right;
}

.onGoing-carousel-elem:first-of-type a {
  margin-left: 0;
}

.onGoing-carousel-elem:last-of-type a {
  margin-right: 0;
}

.onGoing-carousel-elem a:hover img {
  opacity: 0.7;
}

.onGoing-carousel-elem a:hover svg {
  opacity: 1;
}

.onGoing-carousel-elem a:hover .sizes {
  opacity: 1;
}

.brands {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.brands h2 {
  margin: 20px 0;
}

.brands-carousel-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

#prevbtn {
  position: absolute;
  cursor: pointer;
  left: -50px;
  top: 90px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#nextbtn {
  position: absolute;
  cursor: pointer;
  right: -40px;
  top: 90px;
}

.brands-carousel {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1296px;
}

.brands-carousel-element {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 9px;
  background-color: #fff;
}

.brands-carousel-element img {
  padding: 8px;
  width: 113px;
  height: 100px;
}

.brands-carousel-element:first-child {
  margin-left: 0 !important;
}

.brands-carousel-element:last-child {
  margin-right: 0 !important;
}

.brand-buttons {
  position: absolute;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
}

.brand-buttons .brand-button {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 25px;
  margin: 0 5px;
}

.brand-buttons .brand-active {
  background-color: #a0a0a0;
}

.brand-mobile-btn {
  display: none;
}

.brand-desktop-btn {
  display: none;
}

footer {
  margin-top: 100px;
  background-color: #1F2023;
  color: #fff;
}

footer h1 {
  font-size: 18px;
}

footer p {
  font-size: 14px;
}

footer ul li {
  margin: 10px 0;
}

footer ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 14px;
}

footer ul li a:hover {
  color: #a0a0a0;
}

footer form {
  margin: 15px 0 60px 0;
  height: 40px;
  width: 100%;
}

footer form input {
  padding: 10px;
  width: 70%;
  height: 100%;
  outline: none;
}

footer form button {
  cursor: pointer;
  background-color: #04B46A;
  height: 100%;
  width: 30%;
  margin-left: -10px;
  border: none;
  color: #fff;
  font-weight: bold;
}

.footer-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
  border-bottom: 1px solid #fff;
}

.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-social p {
  margin: 10px 0;
}

.footer-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social .social-link {
  margin: 0 15px;
}

.footer-social .social-link svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-social .social-link:last-child {
  margin-left: 0;
}

.footer-social .social-link:hover svg path {
  fill: #a0a0a0;
}

.copyright {
  padding: 10px 0 40px 0;
  text-align: right;
}

*, *::before, *::after {
  font-family: PopLight !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.main-wrapper {
  background-color: #ececec;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.google-map {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  opacity: 0;
}

.google-map .map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.google-map .map-wrapper .map {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.google-map .map-wrapper .map .map-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: #fff;
  padding: 15px 20px;
}

@media screen and (max-width: 1024px) {
  .top-bar .bar-info p:nth-child(1) {
    padding-left: 24px;
  }
  .top-bar .bar-login p:nth-child(3) {
    margin-right: 24px;
  }
  .burger {
    width: 25px;
    height: 20px;
    position: relative;
  }
  .subline {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .subline::before, .subline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .subline:before {
    top: -8px;
  }
  .subline:after {
    top: 8px;
  }
  .burger.active .subline {
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger.active .subline:before, .burger.active .subline:after {
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger.rotate .subline:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.rotate .subline:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  nav {
    margin: 0 !important;
    overflow: hidden;
  }
  nav .nav-wrapper {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .nav-wrapper .logo-burger {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-wrapper .logo-burger svg {
    margin: 10px 20px;
  }
  nav .menu {
    display: none;
    border-top: 1px solid #a0a0a0;
    position: absolute;
    left: 140px;
    top: 50px;
    padding-top: 15px;
  }
  nav .menu li {
    margin: 15px 0;
  }
  nav .menu li .pop-up-ul {
    display: none !important;
  }
  nav .busket {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
    height: 76px;
  }
  .banner {
    margin: 70px 20px;
  }
  .categories {
    max-width: 1170px;
    margin: 0 auto;
  }
  .categories h2 {
    margin-left: 20px;
  }
  .categories-carousel {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .categories-carousel-elem a {
    margin: 0 20px;
  }
  .categories-carousel-elem:first-of-type a {
    margin-left: 20px;
  }
  .categories-carousel-elem:last-of-type a {
    margin-right: 20px;
  }
  .blog h2 {
    margin-left: 20px;
  }
  .blog-element:last-of-type a {
    margin-right: 20px;
  }
  .blog-element:first-of-type a {
    margin-left: 20px;
  }
  .onGoing-carousel-elem a:first-of-type {
    margin-left: 20px;
  }
  .onGoing-carousel-elem a:last-of-type {
    margin-right: 20px;
  }
  .onGoing-carousel-elem a {
    display: block;
    margin: 0 12px;
  }
  .onGoing-carousel-elem a .img-wrapper .eye {
    top: 15px;
    opacity: 1;
  }
  .footer-content {
    padding: 70px 0;
    margin: 0 20px;
  }
  .copyright {
    padding: 10px 20px 40px 20px;
  }
  .brands {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  .brands h2 {
    margin: 20px 20px;
  }
  .brands-carousel {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1296px;
  }
  .brands-carousel-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 20px;
  }
  #prevbtn {
    display: none;
  }
  #nextbtn {
    display: none;
  }
  .brand-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .top-bar .wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-bar .bar-info {
    display: none;
  }
  nav .menu {
    display: none;
  }
  .banner {
    height: 250px;
  }
  .blog {
    margin-top: 100px;
  }
  .blog-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-element {
    width: 50%;
  }
  .blog-element a {
    margin: 0 12px 50px 24px;
  }
  .blog-element a img {
    height: 228px;
  }
  footer form {
    width: 50%;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    margin: 0 20px;
    border-bottom: 1px solid #fff;
  }
  .footer-contacts {
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .footer-nav {
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .brand-desktop-btn {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  nav .nav-wrapper .logo-burger {
    width: 130px;
  }
  nav .menu {
    display: none;
    border-top: 1px solid #a0a0a0;
    position: absolute;
    left: 55px;
    top: 80px;
    padding-top: 15px;
  }
  .underlanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .banner {
    width: 91%;
    margin: 10px 20px;
  }
  .banner1 {
    margin-top: 60px;
  }
  .blog-element {
    width: 50%;
  }
  .blog-element a {
    margin: 0 12px 50px 12px;
  }
  .blog-element a img {
    height: 120px;
  }
  footer form {
    width: 80%;
  }
  .brands-carousel-element:first-child {
    margin-left: 40px !important;
  }
  .brand-mobile-btn {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */