$hoverColor: rgb(160, 160, 160);
@mixin maxWidth{
    max-width: 1170px;
    margin: 0 auto;
}
@mixin Transition{
    transition: all 0.3s ease-in-out;
}
@font-face{
    font-family: PopLight;
    src: url('fonts/Poppins-Light.ttf')
}
@font-face{
    font-family: PopRegular;
    src: url('fonts/Poppins-Regular.ttf')
}
@font-face{
    font-family: PopMedium;
    src: url('fonts/Poppins-Medium.ttf')
}

//////////////////////////////// Import
@import "styles/landing";
@import "styles/underlanding";
@import "styles/categories";
@import "styles/blog";
@import "styles/onGoing";
@import "styles/brands";
@import "styles/footer";
////////////////////////////////


*,*::before,*::after{
    font-family: PopLight !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    @include maxWidth;
}
body{
    background-color: #000;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.main-wrapper{
    background-color: rgb(236, 236, 236);
    @include Transition();
}

////////////////////////////////////////////////////Google Map
.google-map{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    /////JS event
    @include Transition();
    display: none;
    opacity: 0;
    /////////////
    .map-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        .map{        
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .map-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                background-color: #fff;
                padding: 15px 20px;
            }
        }
    }
}
//////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////Media 1024px
@media screen and (max-width: 1024px){
    ///////////////////////////Top bar
.top-bar{   
    .bar-info{
        p:nth-child(1){
            padding-left: 24px;
        }
    }
    .bar-login{     
        p:nth-child(3){
            margin-right: 24px;
        }
    }
}
/////////////////////////////

////////////////////////////Burger button
.burger{
    width: 25px;
    height: 20px;
    position: relative;    
}
.subline{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    top: 50%;
    transform: translate(0, -50%);
}
.subline::before , .subline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 1 !important;
    @include Transition();
}
.subline:before{
    top: -8px;
}
.subline:after{
    top: 8px;
}
.burger.active .subline{
    background: #fff;
    @include Transition();
}
.burger.active .subline:before , .burger.active .subline:after{
    top: 0;
    @include Transition();
}
.burger.rotate .subline:before{
    transform: rotate(45deg);
}
.burger.rotate .subline:after{
    transform: rotate(-45deg);
}
/////////////////////////////////////////
    /////////////////////////////Navigation
    nav{
        margin: 0 !important;
        overflow: hidden;
        .nav-wrapper{
            transition: all 0.4s ease-in-out;
            align-items: flex-start;
            
        .logo-burger{
            display: block;
            display: flex;
            align-items: center;
            svg{
                margin: 10px 20px;
            }
        }
        }
        .menu{
            display: none;
            border-top: 1px solid $hoverColor;
            position: absolute;
            left: 140px;
            top: 50px;
            padding-top: 15px;
            li{
                margin: 15px 0;
    /////////Pop-up ul
    .pop-up-ul{
       display: none !important;
    }
    //////////////////             
            }      
        }
        .busket{         
            align-items: center;
            margin-right: 20px;
            height: 76px;
        }
    }
    ///////////////////////////// 

    /////////////////////////////////////////////////Underlanding
    .banner{
        margin: 70px 20px;
    }
    ///////////////////////////////////////////////////////////////

    //////////////////////////////////////////////////////////Categories Carousel
    .categories{
        @include maxWidth;
        h2{
            margin-left: 20px;
        }
    }
    .categories-carousel{
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
    }
    .categories-carousel-elem{
        a{
        margin: 0 20px;
        }
    }
    .categories-carousel-elem:first-of-type{
        a{
          margin-left: 20px;
        }
    }
    .categories-carousel-elem:last-of-type{
        a{
          margin-right: 20px;
        }
    }
    /////////////////////////////////////////////////////Blog
    .blog{
        h2{
            margin-left: 20px;
        }
    }
    .blog-element:last-of-type{
        a{
            margin-right: 20px;
        }
    }
    .blog-element:first-of-type{
        a{
            margin-left: 20px;
        }
    }

    .onGoing-carousel-elem a:first-of-type{
        margin-left: 20px;
    }
    .onGoing-carousel-elem a:last-of-type{
        margin-right: 20px;
    }
    .onGoing-carousel-elem{
        a{
        display: block; 
        margin: 0 12px;
         .img-wrapper{
            .eye{
                top: 15px;
                opacity: 1;
            }
        }
       
        }
        
    }
    /////////////////////////////////////////////////////////////Footer
    .footer-content{
        padding: 70px 0;
        margin: 0 20px;
    }
    .copyright{
        padding: 10px 20px 40px 20px;
    }
    //////////////////////////////////////////////////////////////////Brands
    .brands{
        @include maxWidth;
        position: relative;
        h2{
            margin: 20px 20px;
        }
    }
    .brands-carousel{
    @include Transition;
    display: flex;
    width: 1296px;
}


    .brands-carousel-wrapper{
        @include maxWidth;
        overflow: hidden;
        margin: 0 20px;
    }
    #prevbtn{
        display: none;
    }
    #nextbtn{
        display: none;
    }
    .brand-buttons{
        display: flex;
    }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////Media 768px
@media screen and (max-width: 768px){
    ///////////////////////////Top bar
    .top-bar{   
        .wrapper{
            justify-content: flex-end;
            
        }
        .bar-info{
            display: none;
        }
    }
    /////////////////////////////
    
    /////////////////////////////Navigation
    nav{
        .menu{
            display: none;
        }           
    }
    /////////////////////////////

    /////////////////////////////////////////////////Underlanding
    .banner{
        height: 250px;
    }
    ///////////////////////////////////////////////////////////////

    ///////////////////////////////////////////////////////////////Blog
    .blog{
        margin-top: 100px;
    }
    .blog-flex{
        flex-wrap: wrap;
    }
    .blog-element{
        width: 50%;
        a{
            margin: 0 12px 50px 24px;
            img{
                height: 228px;
            }
        }
    }
    //////////////////////////////////////////////Footer
    footer{
        form{
            width: 50%;
        }
    }
    .footer-content{
        flex-direction: column;
        padding: 40px 0;
        margin: 0 20px;
        border-bottom: 1px solid #fff;
    }
    .footer-contacts{
        border-bottom: 1px solid #fff;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    .footer-nav{
        border-bottom: 1px solid #fff;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    /////////////////////////////////////////////////Brands

    .brand-desktop-btn{
        display: block;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////Media 425px
@media screen and (max-width: 425px){
      /////////////////////////////Navigation
      nav{     
        .nav-wrapper{
            .logo-burger{
                width: 130px;
            }
        } 
        .menu{
            display: none;
            border-top: 1px solid $hoverColor;
            position: absolute;
            left: 55px;
            top: 80px;
            padding-top: 15px;
        }
        
    }     
    /////////////////////////////////////////////////Underlanding
    .underlanding{
        flex-direction: column;
        justify-content: center !important;
    }
    .banner{
        width: 91%;
        margin: 10px 20px;
    }
    .banner1{
        margin-top: 60px;
    }
    ///////////////////////////////////////////////////////////////     

        ///////////////////////////////////////////////////////////////Blog
        .blog-element{
            width: 50%;
            a{
                margin: 0 12px 50px 12px;
                img{
                    height: 120px;
                }
            }
        
    }
    /////////////////////////////////////Footer
    footer{
        form{
            width: 80%;
        }
    }
    /////////////////////////////////////////////////Brands
    .brands-carousel-element:first-child{
        margin-left: 40px !important;
    }
    .brand-mobile-btn{
        display: block;
    }
}